<button type="submit" style="padding: 20px; border: 2px; background-color: red;" routerLink="saveEmployee">Save Emloyee</button>

<button type="submit" style="padding: 20px; border: 2px; background-color: red;" routerLink="getEmployees">Get All Emloyee</button>

<button type="submit" style="padding: 20px; border: 2px; background-color: red;" routerLink="getEmployeeById">Get Emloyee</button>

<button type="submit" style="padding: 20px; border: 2px; background-color: red;" routerLink="deleteEmployee">Delete Emloyee</button>

<button type="submit" style="padding: 20px; border: 2px; background-color: red;" routerLink="updateEmployee">Update Emloyee</button>


<router-outlet></router-outlet>
